* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

:root {
    --red-color: #DB3A34;
    --yellow-color: #F7B735;
    --blue-color: #2EAAF7;

}

body {
    background-color: var(--blue-color);
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1 {
    text-transform: uppercase;
    color: white;
    font-size: 3.5rem;

}

#m {
    border: 1px solid var(--red-color);
    font-size: 3rem;
    padding: 0.5vw;
    background-color: var(--red-color);
    border-radius: 16px;
}

#t {
    border: 1px solid var(--yellow-color);
    font-size: 3rem;
    padding: 0.5vw;
    background-color: var(--yellow-color);
    border-radius: 100%;

}

#s {
    border: 1px solid var(--red-color);
    font-size: 3rem;
    padding: 0.5vw;
    background-color: var(--red-color);
    border-radius: 16px;
}



#clavier {
    display: flex;
}

#myTable,
td,
tr {
    border: 3px solid white;
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    text-align: center;
}

#myTable {
    width: 20vw;
    height: 30vh;
    margin-bottom: 5vh;

}

.button {
    display: flex;
}

.button> .letter {
display: flex;
justify-content: center;
height: 3vw;
width: 2vw;
}

#clavier {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.divClavier{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.6vw;
    gap: 1.5vw;

    
}


.letter {
    margin: 1px;
    border: 1px solid #ccc;
    display: inline-block;
    cursor: pointer;
    align-items: center;
}


button {
    width: 2vw;
    height: 5vh;
    border-radius: 15px;
    font-size: 0.9rem;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-size: 1.4rem;
    box-shadow: 2px 2px 0px 2px rgb(3, 3, 102);

}

#btnValider {
    border: none;
    box-shadow: none;
    background-color: var(--blue-color);
}

#btnValider>img {
    padding-top: 2vh;

    width: 2vw;

}

#btnValider>img:hover {
    opacity: 1;
    color: black;
    cursor: pointer;
    background-color: green;
    border-radius: 15px;
    height: 2.5vw;
    width: auto;
}


#btnSuppr {
    background-color: var(--blue-color);
    border: none;
    box-shadow: none;

}

#btnSuppr>img:hover {
    opacity: 1;
    color: black;
    cursor: pointer;
    background-color: red;
    border-radius: 15px;
    height: 2.5vw;
    width: auto;


}


#btnSuppr>img {
    width: 2vw;

    padding-top: 1vh;

}

#boutonJeu {
    display: flex;
    flex-direction: row;
    align-items: center;


}

#jouer {
    margin-right: 10vw;
    display: flex;
    width: 6vw;
    height: 5.5vh;
    border-radius: 15px;
    font-size: 0.9rem;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-size: 1.4rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--red-color);
}

#resetScores {
    width: 9vw;
    height: 8vh;
    border-radius: 15px;
    font-size: 0.9rem;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-size: 1.4rem;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow-color);
}


button:hover {
    opacity: 1;
    color: black;
    cursor: pointer;
    background-color: #eee;
}

td {
    width: 3vw;
}

.bien-place {
    background-color: var(--red-color);
    color: black;
    /* border-radius: 100%; */


}

.mal-place {
    background-color: var(--yellow-color);
    color: black;
    /* border-radius: 100%; */

}

.incorrect {
    background-color: lightgray;
    color: black;
    /* border-radius: 100%; */

}

/* CSS du modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 60%;
    height: 50%;
    margin-top: 5%;
    background-color: #2486c3;
    border: 2px solid #F7B735;
    border-radius: 25px;
}

.modalContent {
    background-color: #2eaaf7;
    border: 2px solid #F7B735;
    border-radius: 25px;
    margin-top: 5%;
    height: 70%;
}

.close {
    color: var(--yellow-color);
    float: right;
    font-size: 40px;
    font-weight: bold;
    margin-right: 5%;
}

.close:hover {
    color: var(--red-color);
    font-size: 50px;
    cursor: pointer;
}

.modalContent>h3 {
    color: white;
    font-size: 5rem;
    text-align: center;
}

#myModalLoose {
    display: none;
    position: fixed;
    z-index: 1;
    width: 60%;
    height: 50%;
    margin-top: 5%;
    background-color: #2486c3;
    border: 2px solid #F7B735;
    border-radius: 25px;
}


/* --------------------------media Queries----------------------
*/

@media (max-width : 480px) {




    #jouer {
        padding-left: 20px;
        width: 25vw;
        background-color: var(--yellow-color);


    }

    #resetScores {
        width: 35vw;

        padding-right: 1vw;
        background-color: var(--yellow-color);


    }

    #myTable {
        width: 60vw;
    }

    button {
        text-align: center;
        width: 6vw;
        font-size: 1.1rem;
        height: 4.5vh;
        padding-left: 1vw;
        border: 1px solid white;

    }

    #btnSuppr {
        margin-right: 3vw;
    }

    #btnSuppr>img {
        width: 8vw;

    }

    #btnValider>img {
        width: 6vw;

    }

    #btnValider {
        margin-bottom: 2.5vh;
    }


}